@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --step0: #ff615d;
  --step1: #bad5ea;
  --step2: #fd8769;
  --step3: #356d94;
  --step4: #ffdcb3;
}


.colorText {
  color: var(--text-color);
}

.colorIcon {
  color: var(--icon-color);
}


.background {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
  inset: 0;
  opacity: 0.3;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
